<ion-header>
  <ion-toolbar>
    <ion-title>
      Registrador de usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Lista de usuarios</ion-label>
    </ion-list-header>
    <ion-row *ngFor= "let usu of listaUsuarios">
      <ion-col size="3" align-self-end>
        <ion-avatar>
          <img src="http://i.pravatar.cc/100">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-item (click)="crearPopover(usu)">
          {{ usu.apellidos }}, {{ usu.nombre }}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-button (click)="abrirModal()">Formulario de registro</ion-button>
</ion-content>
